.section__movies {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 800px;
	gap: 1em;
	h1 {
		font-size: 2.8em;
		text-align: center;
	}
	img {
		width: 100px;
	}
	a {
		width: 130px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background: #e9e6e3;
		color: #000;
		border-radius: 2px;
		padding: 7px;
		gap: 5px;
		cursor: pointer;
		transition: 0.2s ease-out;
		&:hover {
			background: #fff;
		}
		img {
			width: 30px;
		}
		span {
			font-size: 1em;
			font-weight: 500;
		}
	}
	p {
		width: 350px;
		font-size: 0.8em;
		font-weight: 100;
		text-align: center;
		color: $subtitle;
	}
}
